/* Comunidade */
.comunidade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    padding: 1rem 0;
    height: 100%;
    width: var(--width-page);
    gap: 3.6rem;
}

/* Text */
.text-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: balance;
    width: 45%;
    gap: 3.6rem;
    
    & h3 {
        text-align: left;
    }
    
    & p {
        text-align: left;
        font-size: var(--font-size-medium);
        font-family: var(--font-secondary);
        font-weight: var(--medium);
        line-height: 3.8rem;
        color: var(--color-light-green);
      }

      & span {
        color: var(--color-white);
        font-weight: var(--bold);
      }
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    border: .4rem solid var(--color-light-green);
    border-radius: 4rem;
    
    & img {
        border-radius: 3.2rem;
    }
}

/* Responsive */
@media (width < 1000px) {
    .comunidade {
        flex-direction: column;
    }

    .text-left {
        width: 100%;

    & h3, p {
        text-align: center;
    }
  }
}
