footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    gap: 4rem;
    background-color: var(--color-background-footer);
    
    & h1 {
        color: var(--color-white);

        &:hover:first-child {
            color: var(--color-green);
            transition: var(--transition);
        }
    }

    & a {
        color: var(--color-white);
        transition: var(--transition);

        &:hover {
            color: var(--color-green);
        }
    }

    & i {
        font-size: 3rem;
    }
}
