/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(../images/ocean.webp);
  background-size: cover;
  background-position: 50%;
}

/* Header */
.header-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-background-header);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--width-page);
  margin: 2.4rem 0;

  & ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  & a:not(.btn) {
    font-size: var(--font-size-small);
    transition: var(--transition);
  }

  a:hover:not(.btn) {
    color: var(--color-white);
  }
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;

  & img {
    height: 5rem;
    width: 5rem;
  }
}

/* Buttons */
.btn {
  border-radius: 2.5rem;
  letter-spacing: 0.1rem;
  box-shadow: var(--shadow);
  color: var(--color-light-green);
  background-color: var(--color-dark-green);
  border: 0.2rem solid var(--color-dark-green);
  text-align: center;
  transition: var(--transition);
}

.small {
  padding: 1.2rem 2.8rem;
  font-size: var(--font-size-extra-small);
  
  &:hover {
    background-color: transparent;
    color: var(--color-dark-green);
    
  }
}

.large {
  padding: 1.6rem 4rem;
  font-size: var(--font-size-small);

  &:hover {
    background-color: transparent;
    color: var(--color-white);
    border: 0.2rem solid var(--color-white);
    transform: var(--transform);
  }
}

/* Gradient Background */
.gradient-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--color-gradient-blue);
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10rem 0;
  gap: 3.2rem;
  height: calc(100% - 8rem);
  width: var(--width-page);
  color: var(--color-white);

  & h2 {
    margin-bottom: 0.4rem;
    font-size: var(--font-size-extra-large);
    color: var(--color-white);
    font-weight: var(--bold);
  }

  & p {
    text-wrap: balance;
    font-size: var(--font-size-medium);
    font-family: var(--font-secondary);
    font-weight: var(--medium);
    line-height: 3.8rem;
    color: var(--color-light-green);
  }

  & span {
    color: var(--color-white);
    font-weight: var(--bold);
  }

  & .btn-large {
    margin-top: 0.8rem;
  }
}

/* Responsive */
@media (width < 1025px) {
  .header {
    flex-direction: column;
    gap: 2.4rem;
  }
}

@media (width < 849px) {
  .header {
    & a {
        font-size: var(--font-size-extra-small);
    }
  }

  .small {
    padding: 0.8rem 2rem;
  }
}

@media (width < 747px) {
    nav {
        display: none;
    }
}
